@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  color: rgb(53, 53, 53);
}

img {
  max-width: 15rem;
  border-radius: 10%;
}
.slack {
  text-align: center;
  background: #f4f4f4;
  box-shadow: 5px 5px 2px 5px #8181813a;
  max-width: 30rem;
  max-height: 40rem;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10%;
}
